<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateProfessora"></activity>
        <activity android:name=".TelaProfessorDiretoria" />
        <activity android:name=".UpdateAluno"/>

        <activity android:name=".CadastrarProfessor" />
        <activity android:name=".TelaAlunoDiretoria" />
        <activity android:name=".MenuDiretoria" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>/>
        </activity>
        <activity android:name=".Editar" >

        </activity>
        <activity android:name=".CadastrarAluno" >

        </activity>
        <activity android:name=".Agenda" />
        <activity android:name=".Dash" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>