<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GerenciarTurmasProfessores">

        </activity>
        <activity android:name=".GerenciarTurmasAlunos">

        </activity>
        <activity android:name=".MenuTurmas">

        </activity>
        <activity android:name=".CadastrarTurma" />
        <activity android:name=".TelaDiretoriaGerenciarRotinas" />
        <activity android:name=".GerenciarRotinas" />
        <activity android:name=".InserirCardapio" />
        <activity android:name=".MostrarRotinaAluno" />
        <activity android:name=".MostrarRotina" />
        <activity android:name=".TelaInicialProfessor" />
        <activity android:name=".TelaInicialAluno" />
        <activity android:name=".CadastrarADM" />
        <activity android:name=".GerenciarTurmas" >

        </activity>
        <activity android:name=".ExcluirTurma" />
        <activity android:name=".UpdateProfessora" />
        <activity android:name=".TelaProfessorDiretoria" />
        <activity android:name=".UpdateAluno" />
        <activity android:name=".CadastrarProfessor" />
        <activity android:name=".TelaAlunoDiretoria" />
        <activity android:name=".MenuDiretoria">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".CadastrarAluno" />
        <activity android:name=".Agenda" />
    </application>

</manifest>